.app{
  background-color: blueviolet;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.profile-card{
  margin: 3vh;
  border-radius: 7px;
  height: 31vh;
  width: 15vw;
  object-fit: cover;
  background-color: rgba(250, 250, 250, 0.815);
  /* box-shadow: -3px 2px 2px 1px rgb(90, 90, 90) */
}


.profile-card-pic img{
  object-fit: cover;
  width:15vw;
  height:25vh;
  object-position: 0 -40px;
  border-radius: 7px 7px 0 0 
}

.profile-card-info{
  margin: -2vh 1vw;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
}

.profile-card-text{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile-card-text p, h3{
  margin: 0
}

#like-button{
  background-color: transparent;
  border: 2px solid green;
  border-radius: 7px;
  color: green;
  height: 5vh;
  width: 4vw;
}

#like-button:hover{
  background-color: green;
  color: white;
  cursor: pointer;
}

#like-button:active{
  background-color: white;
  color: green;
  cursor: pointer;
}

#like-button:focus{
  outline: none;
}